MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=resume_analyzer
SECRET_KEY=your-very-strong-secret-key
FLASK_ENV=production
PORT=5000
GEMINI_API_KEY=your-gemini-api-key-here
